body,
body * {
  font-family: 'Open Sans' !important;
}
.input {
  width: 100%;
  height: 50px;
  font-size: 18px;
  padding-left: 10px;
  margin: 0 10px 10px 0;
  border: 1px solid #cccccc;
  border-radius: 5px;
  color: #71757d;
}
.heading_text {
  color: #006bad;
}
.form-head {
  padding-top: 50px;
  font-weight: bold;
  color: #71757d;
}
.separator {
  display: block;
  background: #006bad;
  height: 3px;
  margin-bottom: 10px;
}
.header {
  margin: 5px 0 15px 0;
  width: 100%;
  top: 0;
  background: #ffffff;
}
.container {
  background: #ffffff url(/assets/img/log-in_bg.png) no-repeat;
  background-position: 90% 0;
  margin-top: 40px;
  padding: 0 20px 20px 0;
  border-radius: 5px;
}
.wrapper {
  float: left;
  width: 100%;
}
.remind_button {
  background: #71757d;
  width: 100%;
  height: 46px;
  border: 0;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 500;
  color: #ffffff;
}
.alerts {
  margin-top: 20px;
  margin-bottom: 20px;
  float: left;
  width: 100%;
  font-size: 18px;
}
.alert-success {
  padding: 5px 0 5px 15px;
  background-color: #90EE90;
  color: #6E8B3D;
  border-radius: 3px;
}
.alert-danger {
  padding: 5px 0 5px 15px;
  background-color: #f2dede;
  color: #b94a48;
  border-radius: 3px;
}
